/* Write your CSS here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.planets-display-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet-heading {
  color: #05acff;
  margin-bottom: 70px;
}
.slider-container {
  width: 70%;
}
